<div class="container-single-post">
    <div class="single-post">
        <div class="spoti-info-single-post">
            <h2>{{title}}</h2>
            <p>{{artist}}</p>
            <img src="{{imageURL}}" alt="">
            <audio controls src={{previewURI}}>
        </div>
            <form class="form-single-post" action="/{{_id}}/edit" method="POST">
                <label for="postText">{{userLocals.username}}Post Text</label>
                <textarea class="text-area-custom" type="text" name="postText">{{postText}}</textarea>
                <button class="btn align-self" type="submit">SAVE EDIT</button>
            </form>
    </div>
</div>