<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/crud.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <nav>
      <ul class="navbar">
        <li class="to-left">
          {{#if userLocals.username}}
            <a id="header-username" href="/{{userLocals.username}}">{{userLocals.username}}</a>
          {{/if}}
        </li>
        {{#if userLocals.username}}
        <li class="to-left">
          <a href="/{{userLocals.username}}/edit-user" style="">&nbsp;edit user</a>
        </li>
        <li>
            <form action="/{{userLocals.username}}" method="POST" >
              <button type="submit">POST YOUR DAILY SONG</button>
            </form>
        </li>
        {{/if}}
        {{#if userLocals.username}}
		    <li class="to-right">
          <a href="/logout">Log out</a>
        </li>
        {{/if}}
        {{#unless userLocals.username}}
        <li class="to-right">
          <a href="/signup">Sign up</a>
        </li>
        <li class="to-right">
          <a href="/login">Log in</a>
        </li>
        {{/unless}}
      </ul>

    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>