<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/crud.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <nav>
      <ul class="navbar">
        {{#if userLocals.username}}
        <div class="profile-info">
          <li class="circular--portrait">
            <img class="profile-pic" src="{{userLocals.imageUrl}}" alt="profile picture">
          </li>
          <li class="to-left">
              <a id="header-username" href="/{{userLocals.username}}">{{userLocals.username}}</a>
          </li>
          <li class="to-left">
            <a class="edit-text" href="/{{userLocals.username}}/edit-user" style="">edit user</a>
            <a class="edit-icon" href="/{{userLocals.username}}/edit-user" style=""><img class="icon" src="/images/lapiz.png" alt="edit icon"></a>
          </li>
        </div>
          <div class="profile-info">
            <li class="to-right display-flex">
              <a href="/{{userLocals.username}}/create"><img class="micro" src="/images/agregar-microfono.png" title="Add your song of the day" alt="add song button"></a>
              <a class="logout-text" href="/logout">Log out</a>
              <a class="logout-icon" href="/logout"><img class="icon-shut-down" src="/images/cerrar-sesion.png"></a>
            {{!-- </li>
            <li class="to-right display-flex">--}}
            </li>
          </div>
        {{/if}}
        {{#unless userLocals.username}}
          <li class="to-right">
            <a href="/signup">Sign up</a>
          </li>
          <li class="to-right">
            <a href="/login">Log in</a>
          </li>
        {{/unless}}
      </ul>
      <section class="playbar">
        <div class="playbar-left">
          <div>SONG OF THE DAY:</div>
          <div>Title: {{winnerSong.title}}</div>
          <div>Artist: {{winnerSong.artist}}</div>
        </div>
        <div class="playbar-left-mobile">
          <div>{{winnerSong.title}}</div>

        </div>
        <div class="playbar-right">
          <audio controls load  src="{{winnerSong.previewURI}}">{{winnerSong.previewURI}}</audio>
        </div>
      </section>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>