<div class="container-single-post">
    <div class="single-post">
        <div class="spoti-info-single-post">
            <h2>{{name}}</h2>
            <p>{{artist}}</p>
            <img src="{{imageURL}}" alt="">
            <audio controls src={{preview}}>
        </div>
        <div>
            <form  class="form-single-post" action="/{{userLocals.username}}/creating" method="POST">
                <label for="postText">Post Text</label>
                    <textarea class="text-area-custom" type="text" name="postText" placeholder="Description..." maxlength="200" rows="4" cols="30"></textarea>
                <button class="btn" type="submit">SAVE</button>
                <div>
                    <input type="text" name="name" value="{{name}}"  hidden readonly>
                    <input type="text" name="artist" value="{{artist}}"  hidden readonly>
                    <input type="text" name="preview" value="{{preview}}"  hidden readonly>
                    <input type="text" name="imageURL" value="{{imageURL}}"  hidden readonly>
                </div>
            </form>
        </div>
    </div>
</div>