<div>
    <h2>{{name}}</h2>
    <p>{{artist}}</p>
    <audio controls src={{preview}}>
</div>
<div>
    <form action="/:user/create" method="POST">
        <label for="postText">Post Text</label>
            <textarea type="text" name="postText" placeholder="Description..." rows="4" cols="30"></textarea>
        <button type="submit">SAVE</button>
        <div>
        <input type="text" name="name" value="{{name}}"  hidden readonly>
        <input type="text" name="artist" value="{{previe}}"  hidden readonly>
        <input type="text" name="preview" value="{{preview}}"  hidden readonly>
        </div>
    </form>
</div>