<h1>Hello {{userName}} </h1>
<aside>
    <img class="profile-img" src="">
    <a href="/{{userName}}/create">
        <button>Post the dayly song</button>
    </a>
</aside>
<main>
    {{#each posts}}
    <a href="/{{this.owner._id}}/edit"><button>edit</button></a>
    <a href="/{{this._id}}/delete"><button>delete</button></a>
<p>{{this.owner.username}}</p>
<h3>{{this.title}}</h3>
<p>{{this.artist}}</p>
<p>{{this.previewURI}}</p>
<p>{{this.postText}}</p>
<img src={{this.imageURL}}>
{{/each}}
</main>
