<main class="profile-container">
    {{#each finalPosts}}
    <div class="card">
        <div class="button-container">
            <div></div>
            <div>
            {{#if this.isOwner}}
                <a href="/{{this._id}}/edit"><button class="btn">edit</button></a>
                <a href="/{{this._id}}/deleting"><button class="btn">delete</button></a>
            {{else }}
                &nbsp;
            {{/if}} 
            </div>
        </div>
        <div>
            <h3>{{this.title}}</h3>
            <h4>{{this.artist}}</h4>
        </div>
        <audio controls load src={{this.previewURI}}></audio>
        <img src={{this.imageURL}}>
        <div class="post-content">
            <span class="post-username">{{this.owner.username}}</span>
            <p class="postText">{{this.postText}}</p>
        </div>

        <div class="star-rating">
                <form action="/{{this._id}}/rate" method="POST">
                    <div>
                        <label for="{{this._id}}1" ><i class="fa fa-star"></i></label>  
                        <input type="radio" id="{{this._id}}1" name="rating"  value="1"></input>
                        <label for="{{this._id}}2" ><i class="fa fa-star "></i></label>
                        <input type="radio" id="{{this._id}}2" name="rating"  value="2" ></input>
                        <label for="{{this._id}}3" ><i class="fa fa-star"></i></label>
                        <input type="radio" id="{{this._id}}3" name="rating"  value="3"></input>
                    </div>
                    <div>
                        <button class="btn" type="submit">VOTE!</button>
                    </div>
                </form>
        </div>



    </div>
    {{/each}}
</main>